
@{
    ViewBag.Title = "DAVIDALCOCER.COM - blog";
}

<section class="blogContainer projectBackground">
    <div class="row">

        <div class="col-sm-6 col-sm-push-6">
            <h1 class="banger heading stroke text-center"><span class="fa fa-quote-left">&nbsp&nbsp</span>MY BLOG IS COMING UP...&nbsp&nbsp<span class="fa fa-quote-right"></span></h1>
        </div>

        <div class="blog col-sm-6 col-sm-pull-6 text-center">
            <span class="fa fa-file-text text-center stroke"></span>
            <span class="fa fa-coffee text-center stroke"></span>           
        </div>

    </div>
</section>

